<%= form_for [@firm], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.text_area :description, placeholder: "Add description...", :rows => 3 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', firms_path, :class => 'btn' %>
  </div>

<% end %>