<div class="page-header">
  <h1><%= t('.companies') %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.updated_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% @firms.each do |firm| %>
      <tr>
        <td><%= link_to firm.name, firm_path(firm) %></td>
        <td><%= firm.description %></td>
        <td><%= firm.updated_at.to_date.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.new_company'), new_firm_path, class: "btn btn-primary" %>
</div>
