<% title(@firm.name, "Vendor") %>

<fieldset>
  <legend>Company: <%= @firm.name %></legend>
  Description: <%= simple_format(@firm.description) %>
  Email: <%= @firm.email %> <br/>

  <div class="project-right">    
    <%# admins_only do %>
      <%= link_to "Edit Vendor", edit_firm_path(@firm), class: "btn btn-small" %>
      <%= link_to "Delete Vendor", firm_path(@firm), :method => :delete,
            :confirm => "Are you sure you want to delete this project?", class: "btn btn-small" %>
    <%# end %>
  </div>
</fieldset>

<fieldset>
  <legend>Users</legend>
  <div class="project-right">    
    <%# link_to "New user", new_firm_user_path(@firm), class: "btn btn-small" %>
  </div>
  <div class="project-left">    
    <ul id='tickets'>
      <% @firm.users.each do |user| %>
        <li>
          <%= link_to user.name, edit_admin_user_path(user) %> - <%= user.position %> (<%= user.email %>)

          <div class="project-right">
            <%= link_to "Delete user",
                  admin_user_path(user),
                  :method => :delete,
                  :confirm => "Are you sure you want to delete this user?", class: "btn btn-small" %>
          </div>
        </li>
      <% end %>
    </ul>
    <%= link_to "Add user", new_admin_user_path(firm_id: @firm), class: "btn btn-small" %>
  </div>
</fieldset>
