<% title(@firm.name, "Vendor") %>

<div class="page-header">
  <h1><%= t('.vendor') %> <%= @firm.name %></h1>
</div>

<fieldset>
  <%= t('.description') %> <%= simple_format(@firm.description) %>
  <br/>
  <%= t('.email') %> <%= @firm.email %>
  <br/>

  <div class="form-actions">   
    <%# admins_only do %>
      <%= link_to t('.edit_vendor'), edit_firm_path(@firm), class: "btn btn-primary" %>
      <%= link_to t('.delete_vendor'), firm_path(@firm), :method => :delete,
            :confirm => "Are you sure you want to delete this vendor?", class: "btn btn-danger" %>
    <%# end %>
  </div>
</fieldset>

<fieldset>
  <legend>Users</legend>

  <% if @firm.users.empty? %>
    <em class="muted">There is no users. Click add.</em>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('.name') %></th>
          <th><%= t('.email') %></th>
          <th><%= t('.position') %></th>
          <th><%= t('.phone') %></th>
          <th><%= t('.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @firm.users.each do |user| %>
          <tr>
            <td><%= link_to user.name, edit_admin_user_path(user) %></td>
            <td><%= mail_to user.email %></td>
            <td><%= user.position %></td>
            <td><%= user.phone %></td>
            <td>
              <%= link_to t('.delete_user'),
                    admin_user_path(user),
                    :method => :delete,
                    :confirm => "Are you sure you want to delete this user?", class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="form-actions">
    <%= link_to t('.add_user'), new_admin_user_path(firm_id: @firm), class: "btn btn-primary" %>
  </div>

</fieldset>
