<div class="page-header">
  <h1><%= t('.project_mails') %></h1>
</div>

<p class="muted">
  <small>
    <em>
      <%= t('.project_email_address') %> <%= mail_to @project.email, @project.email %>
    </em>
  </small>
</p> 

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.from') %></th>
      <th><%= t('.recipient') %></th>
      <th><%= t('.subject') %></th>
      <th><%= t('.attchment_count') %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.from, mailgun_item_path(:id => post) %></td>
        <td><%= link_to post.recipient, mailgun_item_path(:id => post) %></td>
        <td><%= link_to post.subject, mailgun_item_path(:id => post) %></td>
        <td><%= post.attachment_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back_to_project'), request.referer, class: "btn btn-primary" %>
</div>
