<%= fields_for @project do |f| %>
  <%= f.fields_for :attachments, :child_index => number do |attachment_field| %>
    <% if attachment_field.object.attachment_file_name.nil? %>
      <tr>
        <td><%= attachment_field.file_field :attachment %></td>
        <td><%= attachment_field.text_field :description %></td>
        <td></td>
        <td></td>
      </tr>
    <% else %>
      <tr>
        <td><%= attachment_field.object.attachment_file_name %></td>
        <td><%= attachment_field.object.description %></td>
        <td><%= number_to_human_size(attachment_field.object.attachment_file_size) %></td>
        <td>
          <%= link_to 'Delete', attachment_field.object, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>
