<div class="page-header">
  <h1><%= t('.attachments_for_project') %></h1>
  <h2><%= @project.name %></h2>
</div>

<%= form_for [@project], :url => project_path(@project), :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.description') %></th>
        <th><%= t('.size') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody id='attachments'>
      <% number = 0 %>
      <%= render :partial => "attachments/form", :locals => { :number => number } %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= link_to t('.add'), 'javascript:', :id => 'add_another_attachment', :class => 'btn btn-success' %>
  	<%= f.submit t('.save_all'), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel'), project_path(@project), class: "btn" %>
  </div>
<% end %>