<%= form_for [@project, @ticket], :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.text_area :description, placeholder: "Add description...", :rows => 3 %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', request.referer, :class => 'btn' %>
  </div>

<% end %>

