<%= form_for [@project], :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

    <% if @current_user.admin? %>
      <div class="control-group">
        <%= f.label :firm_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select(:firm_id, Firm.all, :id, :name) %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, t('.name'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :number, t('.number'), :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :number %>
        </div>
    </div>

    <div class="control-group">
      <%= f.label :type_id, t('.type'), :class => 'control-label' %>
      <div class="controls">
        <%= f.select :type_id, Project.types.invert, :class => 'select' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.text_area :description, placeholder: t('.add_description'), :rows => 3 %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', projects_path, :class => 'btn' %>
    </div>

<% end %>