<fieldset> 
  <legend><%= t('.rfx_documents') %></legend>
  <% if @project.attachments.empty? %>
    <em class="muted"><%= t('.no_attachments') %></em>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('.name') %></th>
          <th><%= t('.description') %></th>
          <th><%= t('.size') %></th>
        </tr>
      </thead>
      <tbody>
        <% @project.attachments.each do |attachment| %>
          <tr>
            <td><%= link_to File.basename(attachment.attachment_file_name), attachment_path(attachment) %></td>
            <td><%= attachment.description %></td>
            <td><%= number_to_human_size(attachment.attachment_file_size) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if current_user.publisher %>
    <div class="form-actions">
      <%= link_to t('.manage'), manage_attachments_path(:id => @project), class: "btn btn-primary" %>
    </div>
  <% end %>
</fieldset> 