<fieldset>
  <p>
    <%= simple_format(@project.description) %>
  </p>

  <p class="muted">
    <small>
      <em>
        Created by <%= mail_to @project.user.email %>
      </em>
    </small>
  </p> 

  <button type="button" class="btn" disabled><%= @project.number %></button>
  <button type="button" class="btn btn-success" disabled><%= @project.state.name %></button>
  <% if current_user.publisher %>
    <div class="btn-group">
      <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
        Change state
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% @states.each do |state| %>
          <li>
            <%= link_to state.name, change_state_project_path(@project, :state => state) %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if current_user.publisher %>
      <%= link_to "Edit Details", edit_project_path(@project), class: "btn" %>
      <%= link_to "Delete", project_path(@project), :method => :delete,
            :confirm => "Are you sure you want to delete this project?", class: "btn btn-danger" %>
    <% end %>
  <% end %>

</fieldset>