<fieldset>
  <legend><%= t('.questions') %></legend>
  <% if @project.tickets.empty? %>
    <em class="muted"><%= t('.there_is_no_tickets') %></em>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('.title') %></th>
          <th><%= t('.author') %></th>
          <th><%= t('.comments') %></th>
        </tr>
      </thead>
      <tbody>
        <% @project.tickets.each do |ticket| %>
          <tr>
            <td><%= link_to ticket.title, [@project, ticket] %></td>
            <td><%= mail_to ticket.user.email %></td>
            <td><%= link_to ticket.comments.count, [@project, ticket] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if not current_user.publisher and not current_user.admin%>
    <div class="form-actions">
      <%= link_to "New Ticket", new_project_ticket_path(@project), class: "btn btn-primary" %>
    </div>
  <% end %>

</fieldset>
