<% if current_user.publisher %>
<fieldset> 
  <legend><%= t('.participants_and_responses') %></legend>
  <% if @project.responses.empty? %>
    <em class="muted"><%= t('.no_participants') %></em>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('.name') %></th>
          <th><%= t('.files_attached') %></th>
        </tr>
      </thead>
      <tbody>
        <% @project.responses.each do |response| %>
          <tr>
            <td><%= link_to response.firm.name, [@project, response] %></td>
            <td><%= link_to response.assets.count, [@project, response] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="form-actions">
    <%= link_to t('.manage'), project_responses_path(@project), class: "btn btn-primary" %>
  </div>
</fieldset>
<% end %>