<fieldset> 
  <legend>
    <%= t('.schedule') %>
    <% if current_user.publisher %>
      <%= link_to t('.edit'), edit_stage_path(@project), class: "btn btn-small btn-primary" %>
    <% end %>
  </legend>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.stage') %></th>
        <th><%= t('.date') %></th>
      </tr>
    </thead>
    <tbody>
      <% @project.stages.each do |stage| %>
        <tr>
          <td><%= t("common.states.#{stage.state.name}") %></td>
          <td><%= stage.stage_start.to_date.to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
