<h3>Projects</h3>

<% @projects.each do |project| %>
  <div class="project-row">
    <div class="project-row-in">
      <div class="project-left">      
        <h4><%= link_to project.name, project %></h4> 
        <h5>Created by <%= project.user.email %></h5> 
        Reference: <%= project.number %>
        <%= simple_format(project.description) %>
      </div>
  </div>
<% end %>

<div class="project-left">  
  <%= publishers_only do %>
    <%= link_to "New Project", new_project_path, class: "btn btn-small" %>
  <% end %>
</div>
