<% @projects_by_firm.each do |firm_name, projects| %>
  <h3>Projects for <%= firm_name %></h3>
  <% projects.each do |project| %>
    <div class="project-row">
      <div class="project-row-in">
        <div class="project-left">      
          <h4><%= link_to project.name, project %></h4> 
          <%= simple_format(project.description) %>
          Reference: <%= project.number %>
          <br/>
          State: <%= project.state.name %>
          <h5>Created by <%= project.user.email %></h5> 
        </div>
    </div>
  <% end %>
<% end %>

<div class="project-left">  
  <%= publishers_only do %>
    <%= link_to "New Project", new_project_path, class: "btn btn-small" %>
  <% end %>
</div>
