<% @projects_by_firm.each do |firm_name, projects| %>
  <h1><%= t('.projects_for') %> <i><%= firm_name %></i></h1>
  <% projects.each do |project| %>
    <div class="center hero-unit">
          <h2><%= link_to project.name, project %></h2>
          <p>
            <%= simple_format(project.description) %>
          </p>
          <button type="button" class="btn" disabled> <%= t('.reference') %> <%= project.number %></button>
          <button type="button" class="btn btn-success" disabled> <%= t('.state') %> <%= project.state.name %></button>
          <p>
            <small><em><%= project.type_name %></em></small>
            <small class="muted">
              <em>
                <%= t('.created_by') %> <%= mail_to project.user.email, project.user.name %>
              </em>
            </small>
          </p> 
    </div>
  <% end %>
<% end %>

<%= publishers_only do %>
  <div class="form-actions"> 
    <%= link_to t('.new_project'), new_project_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>