<% @projects_by_firm.each do |firm_name, projects| %>
  <h1>Projects for <%= firm_name %></h1>
  <% projects.each do |project| %>
    <div class="center hero-unit">
          <h2><%= link_to project.name, project %></h2> 
          <p>
            <%= simple_format(project.description) %>
          </p>
          <button type="button" class="btn" disabled><%= project.number %></button>
          <button type="button" class="btn btn-success" disabled><%= project.state.name %></button>
          <p class="muted">
            <small>
              <em>
                Created by <%= mail_to project.user.email, project.user.name %>
              </em>
            </small>
          </p> 
    </div>
  <% end %>
<% end %>

<%= publishers_only do %>
  <div class="form-actions"> 
    <%= link_to "New Project", new_project_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>