<% title(@project.name, "Project") %>

<fieldset>
  <legend>Project: <%= @project.name %></legend>
  Reference: <%= @project.number %>
  Description: <br/>
  <%= simple_format(@project.description) %>

  <% if @project.attachments.exists? %>
    <h5>Attached Files</h5>
    <div class="attachments">
      <% @project.attachments.each do |attachment| %>
        <p>
          <%= link_to File.basename(attachment.attachment_file_name), attachment.attachment.url %>
        </p>
        <p>
          <small><%= number_to_human_size(attachment.attachment.size) %></small>
        </p>
      <% end %>
    </div>
  <% end %>

  <small>Created by <%= @project.user.email %> </small>

  <div class="project-right">    
    <%= admins_only do %>
      <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-small" %>
      <%= link_to "Delete Project", project_path(@project), :method => :delete,
            :confirm => "Are you sure you want to delete this project?", class: "btn btn-small" %>
    <% end %>
  </div>
</fieldset>

<br/>

<fieldset>
  <legend>Tickets</legend>
  <div class="project-right">    
    <%= authorized?("create tickets".to_sym, @project) do %>
      <%= link_to "New Ticket", new_project_ticket_path(@project), class: "btn btn-small" %>
    <% end %>
  </div>
  <div class="project-left">    
    <ul id='tickets'>
      <% @project.tickets.each do |ticket| %>
        <li>
          <%= render ticket.state if ticket.state %>
          <%= ticket.id %> - <%= link_to ticket.title, [@project, ticket] %>
        </li>
      <% end %>
    </ul>
  </div>
</fieldset>