<% title(@project.name, "Project") %>
<div class="page-header">
  <h1>Project: <%= @project.name %></h1>
</div>

<fieldset>
  Reference: <%= @project.number %> 
  <br/>
  Description: <%= simple_format(@project.description) %> 
  <br/>
  State: <%= @project.state.name %>

  <small>Created by <%= @project.user.email %> </small>

  <div class="form-actions">    
    <% if current_user.publisher %>
      <%= link_to "Participants and Responses", project_responses_path(@project), class: "btn" %>
      <%= link_to "Edit Project Details", edit_project_path(@project), class: "btn" %>
      <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Change state
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      <% @states.each do |state| %>
        <li>
          <%= link_to state.name, change_state_project_path(@project, :state => state) %>
        </li>
      <% end %>
      </ul>
    </div>      
      <%= link_to "Delete Project", project_path(@project), :method => :delete,
            :confirm => "Are you sure you want to delete this project?", class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Response of " + @response.firm.name, [@project, @response], class: "btn" %> 
    <% end %>
  </div>
</fieldset>

<br/>

<fieldset>
  <legend>Questions</legend>
  
  <% if not current_user.publisher %>
    <div class="project-right">    
      <%= link_to "New Ticket", new_project_ticket_path(@project), class: "btn btn-small" %>
    </div>
  <% end %>

  <div class="project-left">    
    <ul id='tickets'>
      <% @project.tickets.each do |ticket| %>
        <li>
          <%= ticket.id %> - <%= link_to ticket.title, [@project, ticket] %>
        </li>
      <% end %>
    </ul>
  </div>
</fieldset>

<br/>

<fieldset> 
  <legend>Attached Files</legend>
  <% if @project.attachments.empty? %>
    <em class="muted">There is no attachments. Click manage to add some.</em>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <% @project.attachments.each do |attachment| %>
          <tr>
            <td><%= link_to File.basename(attachment.attachment_file_name), attachment_path(attachment) %></td>
            <td><%= attachment.description %></td>
            <td><%= number_to_human_size(attachment.attachment_file_size) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if current_user.publisher %>
    <div class="form-actions">
      <%= link_to "Manage", manage_attachments_path(:id => @project), class: "btn btn-primary" %>
    </div>
  <% end %>
</fieldset> 


<fieldset> 
  <legend>Schedule</legend>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Stage</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @project.stages.each do |stage| %>
        <tr>
          <td><%= stage.state.name %></td>
          <td><%= stage.stage_start.to_date.to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.publisher %>
    <div class="form-actions">
      <%= link_to "Edit Schedule", edit_stage_path(@project), class: "btn btn-primary" %>
    </div>
  <% end %>
</fieldset>