<% title(@project.name, "Project") %>
<div class="page-header">
  <h1><%= @project.type_name %>: <%= @project.name %></h1>
</div>

<div class="row">
  <div class="span8">
    <%= render :partial => 'show' %>
  </div>

  <div class="span4">
    <%= render :partial => 'show_stages' %>
  </div>
</div>

<% if not current_user.publisher %>
  <p class="pagination-centered">
  <%= link_to "Response of " + @response.firm.name, [@project, @response], class: "btn btn-large btn-success" %>
  </p>
<% end %>

<br/>

<%= render :partial => 'show_files' %>

<br/>

<%= render :partial => 'show_participants' %>

<br/>

<%= render :partial => 'show_questions' %>
