<% title(@project.name, "Project") %>
<div class="page-header">
  <h1>Project Participants: <%= @project.name %></h1>
</div>

<fieldset>
  <% if @project.responses.empty? %>
    <em class="muted">There is no participants. Click new to add some.</em>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @project.responses.each do |response| %>
          <tr>
            <td><%= link_to response.firm.name, [@project, response] %></td>
            <td>
              <%= link_to 'Delete', [@project, response], confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="form-actions">  
    <%= authorized?("edit".to_sym, @project) do %>
      <%= link_to "New Participant", new_project_response_path(@project), class: "btn btn-primary" %>
      <%= link_to "Send Invitaions", invite_project_responses_path(@project), class: "btn btn-success" %>
      <%= link_to "Return to project", project_path(@project), class: "btn" %>
    <% end %>
  </div>
</fieldset>
