<div class="page-header">
  <h1><%= t('.schedule_for_project') %></h1>
  <h2><%= @project.name %></h2>
</div>

<%= form_for [@project], :url => project_path(@project) do |f| %>
  <%= f.error_messages %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.stage') %></th>
        <th><%= t('.date') %></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :stages do |stage_field| %>
        <tr>
          <td><%= t("common.states.#{stage_field.object.state.name}") %></td>
          <td>
            <%= stage_field.text_field(
              :stage_start, 
              :value => stage_field.object.stage_start.to_date.to_s,
              :readonly => !stage_field.object.state.edit,
              :databehaviour => 'datepicker') %>
            <%= stage_field.hidden_field(:state_id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
  	<%= f.submit t('.update'), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel'), project_path(@project), class: "btn" %>
  </div>
<% end %>