<%= form_for [:admin, @user] do |f| %>
<%= f.error_messages %>
<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>
<p>
    <%= f.label :admin %>
    <%= f.select :admin, 
      [['User',0], 
       ['Admin',1],
       ['Publisher',2]] %>
</p>
<%= f.submit %>
<% end %>